.engineer-container{
    padding: 25px;
    box-shadow: 0px 0px 6px rgb(85, 187, 228);
    border-radius: 15px;
}
.engineer-container:hover{
    background-color: rgba(153, 226, 223, 0.315);
}
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 1px dashed lightskyblue;
}
.info{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.profile-name{
    text-align: center;
}
.select-amount{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.bid{
    background-color: rgba(208, 226, 105, 0.616);
    clip-path:  polygon(0% 0%, 100% 0%, 100% 75%, 50% 78%, 29% 100%, 33% 76%, 0% 75%);
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
}
.amount{
    font-size: 25px;
    font-weight: 700;
    color: rgb(42, 97, 216);
}
.btn-regular{
    background-color: lightskyblue;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.btn-regular:hover{
    background-color: rgb(84, 175, 231);
}

.select-icon{
    color: green;
}