.project-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1.5em;
    margin: 50px 100px;
}
.engineers-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5em;
}
