.header-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    background-image: url(../../images/header-cover.jpg);
    
    
}
.header-container h1{
    font-family: cursive;
    color: white;
}
.banner{
    height: 180px;
    display: block;
}